<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="PortalContratante" connectionString="metadata=res://*/PortalContratante.csdl|res://*/PortalContratante.ssdl|res://*/PortalContratante.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.smartwork.com.ec\development,1433;initial catalog=Salud_Sigmep;persist security info=True;user id=sa;password=Smartw0rk;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SW.Salud.DataAccess.Properties.Settings.ConnectionString" connectionString="Dsn=Sigmep11.5;uid=usrclienteU;pwd=blanco" providerName="System.Data.Odbc"/>
    <!--<add name="SW.Salud.DataAccess.Properties.Settings.Salud_CorporativoConnectionString" connectionString="Data Source=sql.smartwork.com.ec\development,1433;Initial Catalog=Salud_Sigmep;Persist Security Info=True;User ID=sa;Password=Smartw0rk" providerName="System.Data.SqlClient"/>
    <add name="clienteEntities" connectionString="metadata=res://*/ModelCliente.csdl|res://*/ModelCliente.ssdl|res://*/ModelCliente.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.25.66;Initial Catalog=cliente;Persist Security Info=True;User ID=websalud; Password=Websalud01;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SaludCorporativoEntities" connectionString="metadata=res://*/ModelCorporativo.csdl|res://*/ModelCorporativo.ssdl|res://*/ModelCorporativo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.smartwork.com.ec\development,1433;initial catalog=Salud_sigmep;User ID=sa; Password=Smartw0rk;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="bdd_websaludsaEntities" connectionString="metadata=res://*/ModelWeb.csdl|res://*/ModelWeb.ssdl|res://*/ModelWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.25.66;initial catalog=bdd_websaludsa;User ID=usrwebsaludsa;Password=UsrW3bSaludsa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="SW.Salud.DataAccess.Properties.Settings.ConnectionString" connectionString="Dsn=Sigmep;uid=usrclienteU;pwd=blanco" providerName="System.Data.Odbc" />
    <add name="SW.Salud.DataAccess.Properties.Settings.Salud_CorporativoConnectionString" connectionString="Data Source=172.16.254.9;Initial Catalog=Salud_Corporativo;Persist Security Info=True;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="clienteEntities" connectionString="metadata=res://*/ModelCliente.csdl|res://*/ModelCliente.ssdl|res://*/ModelCliente.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.40.43;Initial Catalog=bdd_cliente_masivo;Persist Security Info=True;User ID=websalud_pru; Password=websaludpru;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SaludCorporativoEntities" connectionString="metadata=res://*/ModelCorporativo.csdl|res://*/ModelCorporativo.ssdl|res://*/ModelCorporativo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.254.9;initial catalog=Salud_Corporativo;integrated security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bdd_websaludsaEntities" connectionString="metadata=res://*/ModelWeb.csdl|res://*/ModelWeb.ssdl|res://*/ModelWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.254.9;initial catalog=bdd_websaludsa;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>