<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DiasDesdeFechaFUM" value="0" /><!-- 38 semanas = 266 dias -->

    <!-- Parámetros de Configuración de Generación de Token de Seguridad -->
    <add key="SeguridadesUsername" value="UsrServiciosSalud" />
    <add key="SeguridadesPassword" value="UsrS3rv1c1os" />
    <add key="SeguridadesGrantType" value="password" />
    <add key="SeguridadesClientID" value="8a3e4d10b2b24d6b9c55c88a95fdc324" />
    <add key="AddressToken" value="http://pruebas.servicios.saludsa.com.ec/ServicioAutorizacion/oauth2/token"/>
    <add key="CodigoAplicacion" value="7"/>
    <add key="CodigoPlataforma" value="3"/>

    <!--Parámetros de Configuración Adicionales de Correo-->
    <add key="MailFrom" value="pruebas@smartwork.com.ec" />
    <add key="HostSMTP" value="smtp.office365.com" />
    <add key="PortSMTP" value="587" />
    <add key="CredentialsUsuarioSMTP" value="pruebas@smartwork.com.ec" />
    <add key="CredentialsPassSMTP" value="Smartw0rk." />
    <add key="DisplayName" value="SALUDSA" />
    <add key="SMTPEnableSSL" value="true" />
    <add key="PathTemplates" value="D:\Desarrollo\SALUD_Corporativo2\ServiciosSalud\LogicaNegocioCore\Templates\" />
    <add key="SiteURL"  value="http://pruebas.nmcorporativo.saludsa.com.ec/PortalContratante/"/>
    <add key="LinkPortalUsuarios" value="http://pruebas.nmcorporativo.saludsa.com.ec/PortalContratante" />
    <add key="UsarQueryString" value="si"/>
    <add key="UseEmailService" value="false"/>
    <add key="EmailServiceAdress" value ="http://pruebas.servicios.saludsa.com.ec/ServicioComunicaciones/api/CorreoElectronico"/>
    
  </appSettings>
  <connectionStrings>
    <add name="PortalContratante" connectionString="metadata=res://*/PortalContratante.csdl|res://*/PortalContratante.ssdl|res://*/PortalContratante.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.25.66;initial catalog=SaludCorporativo;persist security info=True;user id=SaludCorporativo;password=Sa1udC0rporativ0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>